<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<global-property doc:name="Global Property" doc:id="a2893f23-b648-42b1-840e-867ffe70b84e" name="env" value="dev" />
    <http:listener-config name="expense-sys-api-httpListenerConfig">
        <http:listener-connection host="${https.host}" port="${https.port}" protocol="HTTPS" tlsContext="TLS_Context">
		</http:listener-connection>
    </http:listener-config>
	<tls:context name="TLS_Context" doc:name="TLS Context" doc:id="17f7b62d-8fe6-4623-be3a-67a238d67290" >
		<tls:key-store type="jks" path="keystore.jks" keyPassword="${secure::keystore.password}" password="${secure::keystore.password}" />
	</tls:context>
	
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="3a512641-ac4e-4a98-b75d-45ea6c0f659e" file="contact-sys-api-${env}.yaml" key="${runtime.key}" />

	<configuration doc:name="Configuration" doc:id="bdb736ef-4563-4813-a51c-dd54d219a240" defaultErrorHandler-ref="global-error-handlerError_Handler" />
	<configuration-properties doc:name="Configuration properties" doc:id="9e0ed79e-a431-4e95-a9be-4dc64f5baaff" file="contact-sys-api-global.yaml" />
</mule>
